*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #0ccbe9;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    color: #7858A6;
    font-family: Helvetica;
}

nav{
    background-color: #84a6f1 ;
    width: 100%;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.lista a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 15px 50px;
}

.menu .lista{
    display: inline-block;
}

.lista-r{
    float: right;
}

.lista a:hover{
    background-color: #080bda;
}

main{
    text-align: center;
}

img{
    margin-top: 10px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    border: 10px solid white;
}

p{
    font-size: 22px;
    font-weight: 600;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input{
    border: 0;
    padding: 10px;
    font-size: 18px;
    margin: 5px;
    background-color: #E8F9FD;
}

label{
    font-size: 22px;
    font-weight: 600;
}

#textarea{
    border: 0;
    font-size: 18px;
    margin: 5px;
    background-color: #E8F9FD;
    color: #2155CD;
}

button[type="submit"]{
    background: #4B7BE5;
    color: white;
    padding: 10px;
    font-family: 20px;
    font-weight: 600;
    border-radius: 5px;
}

input::placeholder{
    color: black;
}

input:focus{
    outline: none;
    background-color: #E8F9FD;
}





